::ng-deep .approval-process-card {
    background-color: #f5f8fa;
    border: 1px solid #e5e5e5;
}

::ng-deep .approval-process-user {
    background-color: #c4cada;
    padding: 10px;
    border-radius: 8px;
    color: #004585;
    font-weight: 500;
}