.nav-tabs .nav-item.active .nav-link {
  color: black;
  border-bottom: 2px solid #004585;
  font-weight: bold;
}

.nav-item {
  cursor: pointer;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-top: 24px;
}

::ng-deep .dx-toolbar .dx-toolbar-items-container {
  margin-bottom: 2.5rem !important;
}

::ng-deep .dx-datagrid-search-panel.dx-show-invalid-badge.dx-textbox.dx-texteditor.dx-editor-outlined.dx-searchbox.dx-show-clear-button.dx-texteditor-empty.dx-widget {
  margin-bottom: 0 !important;
}