<div class="card h-100">
  <div class="card-header border-0" style="justify-content: space-between; display: flex; align-items: center;">
    <div style="order: 1;"></div>
    <div style="order: 2;">
      <h3>Yaklaşan Doğum Günleri</h3>
    </div>
    <a id="reloadUserPersonalInformationButton" (click)="leaveReload()" style="order: 3; cursor: grab;">
      <i class="fa-solid fa-arrows-rotate"></i>
    </a>
  </div>
  <div class="card-body py-2 px-4">
    <ng-container *ngIf="userData && userData.length > 0; else noBirthdays">
      <ng-container *ngFor="let item of userData; let lastItem = last;">
        <div class="d-flex align-items-center">
          <div class="symbol symbol-50px me-3">
            <img src="{{ item.profilPicture ? item.profilPicture : './assets/media/avatars/blank.png' }}"
              alt="Profile Picture" class="img-fluid resized-img">
          </div>
          <div class="flex-grow-1">
            <a href="/user-edit/{{item.userId}}" class="text-gray-900 fw-bold text-hover-primary fs-6">{{ item.userName
              }}</a>
          </div>
          <div>
            <span class="text-muted d-block fw-bold">
              <ng-container *ngIf="isToday(item.dateOfBirth)">Bugün</ng-container>
              <ng-container *ngIf="isTomorrow(item.dateOfBirth)">Yarın</ng-container>
              <ng-container *ngIf="!isToday(item.dateOfBirth) && !isTomorrow(item.dateOfBirth)">
                {{ item.dateOfBirth | date:'dd/MM/yyyy' }}
              </ng-container>
            </span>
          </div>
        </div>
        <div *ngIf="!lastItem" class="separator separator-dashed my-3"></div>
      </ng-container>
    </ng-container>
    <ng-template #noBirthdays>
      <div class="text-center text-gray-600 fs-3 py-4">
        Yaklaşan doğum günü bulunmamaktadır.
      </div>
    </ng-template>
  </div>
</div>