<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
  <div class="card-body p-2">
    <dx-data-grid id="gridContainer" [dataSource]="dataSource" [columnAutoWidth]="true" [showRowLines]="false"
      [showColumnLines]="false" [showBorders]="true" [rowAlternationEnabled]="true" (onRowClick)="onRowClick($event)">
      <dxo-toolbar>
        <dxi-item location="before" locateInMenu="auto">
          <a href="/sidebar-spending-payment/{{userId}}" class="btn btn-sm main-btn align-self-center"
            *ngIf="!hasPermission('employee-expense-demand-create')">
            Harcama Ekle
          </a>
        </dxi-item>
        <dxi-item location="after" locateInMenu="auto">
          <div>
            <mat-form-field>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate matInput placeholder="Başlangıç Tarihi" [(ngModel)]="_startDate"
                  (dateChange)="onChangeStartDate($event)">
                <input matEndDate matInput placeholder="Bitiş Tarihi" [(ngModel)]="_endDate"
                  (dateChange)="onChangeEndDate($event)">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
        </dxi-item>
        <dxi-item name="searchPanel"></dxi-item>
      </dxo-toolbar>
      <dxo-paging [pageSize]="25"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[25, 50, 100]"></dxo-pager>
      <dxo-filter-panel [visible]="false"></dxo-filter-panel>
      <dxo-filter-row [visible]="false"></dxo-filter-row>
      <dxo-header-filter [visible]="false"></dxo-header-filter>
      <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
      <dxo-group-panel [visible]="false"></dxo-group-panel>

      <dxi-column dataField="amount" dataType="string" caption="Tutar"
        [format]="{ type: 'fixedPoint', precision: 2 }"></dxi-column>
      <dxi-column dataField="amountType" dataType="string" caption="Tutar Tipi"
        cellTemplate="salaryTypeTemplate"></dxi-column>
      <dxi-column dataField="amountMoneyType" dataType="string" caption="Döviz Cinsi"
        cellTemplate="amountTypeTemplate"></dxi-column>
      <dxi-column dataField="paymentCategory" dataType="string" caption="Kategori"
        cellTemplate="paymentCategoryTypeTemplate"></dxi-column>
      <dxi-column dataField="isPaid" dataType="boolean" caption="Ödendi mi?" cellTemplate="isPaidTemplate"></dxi-column>
      <dxi-column dataField="paymentDate" dataType="date" caption="Ödeme Tarihi" format='dd/MM/yyyy HH:mm'></dxi-column>
      <dxi-column dataField="paidDate" dataType="date" caption="Ödenen Tarihi" format='dd/MM/yyyy HH:mm'></dxi-column>
      <dxi-column dataField="paymentType" dataType="string" caption="Ödeme Türü"
        cellTemplate="paymentTypeTemplate"></dxi-column>
      <dxi-column type="buttons" [width]="110" [fixed]="true" caption="İşlemler"
        cellTemplate="cellBtnTemplate"></dxi-column>
      <dxo-master-detail [enabled]="detailRow !== null" template="detail"></dxo-master-detail>
      <div *dxTemplate="let detail of 'detail'">
        <div class="master-detail-caption">
          <strong>Açıklama : </strong> {{ clickedRowDescription }}
        </div>
      </div>
      <div *dxTemplate="let data of 'isPaidTemplate'">
        <span class="badge" [ngClass]="data.value ? 'badge-success' : 'badge-danger'">{{ data.value ? 'Evet' : 'Hayır'
          }}</span>
      </div>

      <div *dxTemplate="let data of 'salaryTypeTemplate'">
        <span>{{SalaryTypeLabelMapping[data.value]}}</span>
      </div>
      <div *dxTemplate="let data of 'paymentTypeTemplate'">
        <span>{{PaymentTypeLabelMapping[data.value]}}</span>
      </div>
      <div *dxTemplate="let data of 'amountTypeTemplate'">
        <span>{{amountTypeLabelMapping[data.value]}}</span>
      </div>
      <div *dxTemplate="let data of 'paymentCategoryTypeTemplate'">
        <span>{{paymentCategoryTypeLabelMapping[data.value]}}</span>
      </div>
      <div *dxTemplate="let data of 'taxTypeTemplate'">
        <span>{{taxTypeLabelMapping[data.value]}}</span>
      </div>
      <div *dxTemplate="let item of 'cellBtnTemplate'">
        <button (click)="editPaymentClick(item, userPaymentEdit)"
          class="btn btn-icon btn-bg-light btn-active-color-success btn-sm me-1" title="Düzenle"
          [disabled]="!hasPermission('employee-expense-demand-create')">
          <span class="svg-icon svg-icon-2" [inlineSVG]="'./assets/media/icons/duotune/general/gen055.svg'"></span>
        </button>
        <button (click)="deletePaymentClick(item)" class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm"
          title="Sil" [disabled]="!hasPermission('employee-expense-demand-create')">
          <span class="svg-icon svg-icon-2" [inlineSVG]="'./assets/media/icons/duotune/arrows/arr011.svg'"></span>
        </button>
      </div>
    </dx-data-grid>
  </div>
</div>

<ng-template #userPaymentEdit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Harcama Düzenleme</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <app-payment-update [paymentId]="paymentId" (userPaymentEdit)="reloadDataSource($event)"></app-payment-update>
</ng-template>