::ng-deep .file-upload-container {
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    border: dashed 1px #979797;
    position: relative;
    margin: 0 auto;

    input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    h3 {
        font-size: 20px;
        font-weight: 600;
        color: #38424c;
        margin: 0;
    }
}

::ng-deep .files-list {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;

    .single-file {
        display: flex;
        padding: 0.5rem;
        justify-content: space-between;
        align-items: center;
        border: dashed 1px #979797;
        border-radius: 10px;
        margin-bottom: .3rem;

        .delete {
            display: flex;
            margin-left: 0.5rem;
            cursor: pointer;
            align-self: flex-end;
            color: #b00303;
        }

        display: flex;
        flex-grow: 1;

        .name {
            font-size: 14px;
            font-weight: 500;
            color: #353f4a;
            margin: 0;
        }

        .size {
            font-size: 12px;
            font-weight: 500;
            color: #a4a4a4;
            margin: 0;
            margin-bottom: 0.25rem;
        }

        .info {
            width: 100%
        }
    }
}

::ng-deep .visa-process-card {
    background-color: #f5f8fa;
    border: 1px solid #e5e5e5;
}

::ng-deep .visa-process-document {
    background-color: #c4cada;
    padding: 10px;
    border-radius: 8px;
    color: #004585;
    font-weight: 500;
}

::ng-deep .visa-document-link {
    color: #004585;
}

::ng-deep .visa-document-link:hover {
    color: #009ef7;
}